.restaurant {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
  min-height: 300px;
}

.banner {
  gap: 15px;
}

.banner .skeleton {
  width: 70%;
  height: 100%;
  display: block;
  background-color: lightgray;
}

.skeleton img {
  width: 100%;
  height: 100%;
}

.banner .detail-group,
.message {
  margin-top: 1rem;
}

.detail-group span {
  max-width: 60ch;
  display: block;
}

.menus,
.reviews,
.add-review {
  margin-top: 4rem;
}

.menus h2,
.menu-group h3,
.reviews h2,
.add-review h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.menu-group {
  margin-top: 1rem;
  justify-content: center;
  gap: 15px;
}

.foods-menu,
.drinks-menu {
  box-shadow: rgba(57, 62, 70, 0.3) 0px 0px 0px 3px;
  padding: 2rem 4rem;
  max-width: 400px;
  width: 100%;
  min-height: 500px;
  border-radius: 10px;
}

.review-box,
.inputs {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.review-box {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 0.5rem;
}

.review-box,
.inputs .add button,
.favorite-btn {
  background-color: var(--second-colour);
  color: var(--fourth-colour);
}


.review-group {
  justify-content: space-between;
}

.review-group .name {
  font-size: 1.4rem;
  font-weight: bolder;
}

.input-group {
  margin-bottom: 1.2rem;
}

.input-group label,
.input-group input,
.input-group textarea {
  width: 100%;
  display: block;
}

.input-group input,
.input-group textarea {
  border: 1px solid var(--second-colour);
}

.input-group input,
.input-group textarea,
.inputs .add button {
  font-size: 1rem;
  border-radius: 5px;
}

.input-group textarea {
  resize: vertical;
}

.inputs .add {
  justify-content: flex-end;
}

.inputs .add button {
  padding: 0.8rem 1.5rem;
  border: none;
}

.favorite-btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
}

@media screen and (max-width: 950px) {
  .banner {
    flex-direction: column;
  }

  .banner .skeleton {
    width: 100%;
    height: 300px;
  }

  .banner img {
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 830px) {
  .menu-group {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .review-group {
    flex-direction: column;
  }

  .review-group .date {
    font-size: 0.8rem;
  }

  .message {
    display: block;
    margin-top: 1.5rem;
  }
}